.head_sp{
	background-color:black;
	height:160px;
}
.head_sb1{
	clear:both;
	width:100%;

	font-size:50px;
	color:white;
	font-weight:bold;
	height:80px;
	align-items:center;
	display:flex;
	justify-content:center;

}
.head_sb2{
	text-decoration: none;
	height:80px;
	width:25%;
	font-size:18px;
	display:flex;
	float:right;
	font-weight:bolder;
	align-items:center;
  	justify-content: center;

}
.head_sb2:link, .head_sb2:visited, .head_sb2:hover, .head_sb2:active {
  color: white;
  text-decoration:none;
  
}
.head_sb2:hover{
	border-bottom:solid 3px white;
}
.image1{

	height:400px;
	background-color:skyblue;
	font-size:50px;
}
.active{
	height:200px;
	
}
.active1{
  padding-top:25px;
  font-size:170%;
  font-weight:bold;
  align-items:center;
  justify-content:center;
  display:flex;

  
}
	
.active_contents{
color:;
font-size:18px;
justify-content:center;
display:flex;

}
.threestep{
	font-weight:bold;
	font-size:160%;
	align-items:center;
	display:flex;
	justify-content:center;
}
.method{
	height:650px;
}
.methodtitle{
	font-size:125%;
    font-weight:bold;
    align-items:center;
    justify-content:center;
    display:flex;

}
.method1{
	margin-top:25px;
    font-size:19px;
    box-shadow: 2px 2px 4px #dddddd;
    border-radius:5px;
    height:170px;
    padding-top:15px;
    border-top:5px solid #00CC99;

}
.group{
	font-size:18px;
}