{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/phone.css' %}" media="screen and (max-width:600px)">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen and (min-width:600px) and (max-width:1024px)" >
{% endblock customcss %}

{% block content %}
	<header>
		<div class="head_sp">
			<div class = "head_sb1">GudaGuda</div>
			<a class ="head_sb2" href = "#unei">運営組織</a>
			<a class ="head_sb2" href = "{% url 'ranking' %}">ランキング</a>
			<a class ="head_sb2" href = "#sanka">参加方法</a>
			<a class ="head_sb2" href = "#katudou">活動内容</a>
		</div>
	</header>
	<div class="image1">写真１</div>
	<div class="active">
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<div class="active1" id = "katudou">&nbsp;&nbsp;活動内容</div>
					<div class="active_contents">
					私達は金沢工業大学のProjectDesignという授業で金沢市のゴミのポイ捨てを減らすという課題を解決するため活動を行い、その結果Twitterを用いたゴミのポイ捨てを監視するキャンペーンを企画しました。</div>
				</div>
				<div class = "col-sm-1"></div>
				<div class="col-sm-5">
		<div class="active1">&nbsp;&nbsp;キャンペーン内容</div>
        <div class="active_contents">
		キャンペーンの内容はTwitterで＃をつけてポイ捨てされたゴミの写真を投稿することで、そのデータを活用し、ゴミを減らすというものです。写真の投稿者にはポイントが入り、ランキングサイトにてランキングを発表し、上位の方には商品を用意しております。</div></div>
	</div><br><br><br>
	<div class="method" id = "sanka">
		<div class="threestep">
			3ステップで気軽にボランティア
		</div>
		<div class="container">
		<div class="row">
		<div class="col-sm-4">
		<div class = "method1">
			<div class="methodtitle">ポイ捨てされたゴミを撮影</div><br>
			<div  style="align-items:center;justify-content:center;display:flex;">
			街におちているゴミをスマホなどで<br>撮影！</div>
		</div></div>
		<div class="col-sm-4">
		<div class = "method1">
			<div class="methodtitle">&nbsp;Twitterに写真を投稿 <img src="bard.png"></div><br>
			<div  style="align-items:center;justify-content:center;display:flex;">Twitterに撮影したゴミの写真を#をつけて投稿！</div>
		</div></div>
		<div class="col-sm-4">
		<div class="method1">
			<div class="methodtitle">ランキングサイトを確認</div><br>
			<div  style="align-items:center;justify-content:center;display:flex;">
			ランキングサイトで自分のランキングを確認し、順位に応じて景品Get！
		</div></div>
	    </div>
	</div>
	</div>
	</div>

	<hr>
	<div class = "group" id="unei">金沢工業大学(Kanazawa Institute of Technology)<br>ProjectDesign実践H-1(Team:GudaGuda)</div>
	<br>
	<br>

{% endblock content %}
