{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/phone.css' %}" media="screen and (max-width:600px)">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen and (min-width:601px) and (max-width:1024px)" >
{% endblock customcss %}

{% block content %}
	<header>
		<div class="head_sp">
			<div class = "head_sb1">GudaGuda</div>
			<a class ="head_sb2" href = "http://167.179.112.142/home#unei">組織運営</a>
			<a class ="head_sb2" href = "http://167.179.112.142/home#katudou">活動内容</a>
			<a class ="head_sb2" href = "{% url 'judge' %}">判定する</a>
			<a class ="head_sb2" href = "{% url 'home' %}">ホーム</a>
		</div>
	</header>
    <div class="split-item split-right">
        <div class="split-right__inner">
            {% for user in object_list|slice:"10" %}
                {% if forloop.counter == 1 %}
                    <div class="alert alert-warning" role="alert">
                {% elif forloop.counter == 2 %}
                    <div class="alert alert-secondary" role="alert">
                {% else %}
                    <div class="alert alert-info" role="alert">
                {% endif %}
                    <p><span class="rank">{{forloop.counter}}</span> &nbsp; &nbsp; {{user.name}}@{{user.screen_name}} &emsp; &emsp; {{user.point}}ポイント</p>
                    </div>
            {% endfor %}
        </div>
	</div>
{% endblock content %}
